<app-navbar></app-navbar>
<!-- <div class="labeling-banner slider-image slider-height centered">
  <h2>INDUSTRIAL INKJET PRINTERS</h2>
  <h4>Markoprint: drop on demand inkjet printers</h4>
</div> -->
<div class="background">
  <div class="row w-100 pb-5">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="text-center margin">
        <h4>INK ROLL CODING MACHINE- MY-380</h4>
        <!-- <p>Pinpoint solutions for demanding applications:</p> -->
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-4">
          <mat-card class="card-background">
            <mat-card-header class="mb-2">
              <mat-card-title >Remoxin Enterprises (4u)</mat-card-title>
            </mat-card-header>
            <img
              class="example-card"
              mat-card-image
              src="assets/images/remoxin-4u.jpg"
              alt=""
            />
            <mat-card-content>

            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-4">
          <mat-card class="card-background" [routerLink]="['/integra-ultimate']">
            <mat-card-header class="mb-2">
              <mat-card-title>International Foods-Hooney Biscuits</mat-card-title>
            </mat-card-header>
            <img
              class="example-card"
              mat-card-image
              src="assets/images/honey.jpg"
              alt=""
            />
            <mat-card-content>

            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-4">
          <mat-card class="card-background" >
            <mat-card-header class="mb-2">
              <mat-card-title>EASTREN SPICES (PVT) LTD</mat-card-title>
            </mat-card-header>
            <img
              class="example-card"
              mat-card-image
              src="assets/images/eastren.jpg"
              alt=""
            />
            <mat-card-content>

            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<app-footer></app-footer>
