<app-navbar></app-navbar>
<div
  [style.background-image]="'url(' + imgUrl + ')'"
  class="labeling-banner slider-image slider-height centered"
  style="background-repeat: no-repeat; background-size: cover;"
>
  <h2>{{ categoryName }}</h2>
  <h4>{{ subCategoryName }}</h4>
</div>
<div class="bg-white" >
  <div class="background p-5" *ngIf="categoryName == 'Inkjet Printers'">
    <p>
      Look forward to better print results and increased uptime! Our industrial
      inkjet printers distinguish themselves from other labeling systems through
      exceptionally high efficiency and innovative features. With our wide range
      of printing systems and technologies, Markoprint coding solutions meet
      every system environment and customer requirement. Whether large or small
      fonts, high-speed applications in pharmaceutical or automotive industries,
      rough industrial environments, we offer the right system for every
      application. The best materials, the most innovative ideas, this is
      Quality made in Germany. Our developments result in first-class, highly
      complex solutions that are still extremely easy to use. Aluminium is our
      preferred product material, preferably made of one piece. A guarantor for
      durability, sustainability and your success!
    </p>
    <div class="text-center" style="background-color: white; color: black">
      <img class="marko" src="assets/images/markoprint.png" alt="" />
      <h4 class="mt-3">
        Compatible with world's leading printing technologies
      </h4>
      <p>
        As the only manufacturer in the world, Markoprint can control five
        proven printing technologies:
      </p>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 p-2">
          <img class="hp" src="assets/images/hp-class.png" alt="" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 p-2">
          <img class="hp" src="assets/images/lx-class.png" alt="" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 p-2">
          <img class="hp" src="assets/images/mx-class.png" alt="" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 p-2">
          <img class="hp" src="assets/images/pp-class.png" alt="" />
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 p-2">
          <img class="hp" src="assets/images/xr-class.png" alt="" />
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>





  <div class="container p-2 text-center mt-3">
    <div class="row" *ngIf="categories != 'No Data Found'">
      <div
        class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-1"
        *ngFor="let printer of categories"
      >
        <div class="card p-4 cursor">
          <img
            src="{{ config.imgUrl + printer.main_image }}"
            class="img-fluid example-card"
            alt="Image"
          />
          <div class="card-body hover" (click)="goToProductDetail(printer.id)">
            <h3>
              {{ printer.name }}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center" *ngIf="categories == 'No Data Found'">
      <h5>No Products Found</h5>
    </div>
  </div>




  <div class="p-5 mt-3" *ngIf="categoryName == 'Inkjet Printers'">
    <div [innerHTML]="benefits"></div>
  </div>
</div>
<app-footer></app-footer>
