<app-navbar></app-navbar>
<!-- <div class="labeling-banner slider-image slider-height centered">
  <h2>INDUSTRIAL INKJET PRINTERS</h2>
  <h4>Markoprint: drop on demand inkjet printers</h4>
</div> -->
<div class="background">
  <div class="row w-100 pb-5">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="text-center margin">
        <h4>Agro Industry</h4>
        <!-- <p>Pinpoint solutions for demanding applications:</p> -->
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-4">
          <mat-card class="card-background" [routerLink]="['/integra-one']">
            <mat-card-header class="mb-2">
              <mat-card-title >Sky Agro</mat-card-title>
            </mat-card-header>
            <img
              class="example-card"
              mat-card-image
              src="assets/images/sky-agro.jpg"
              alt=""
            />
            <mat-card-content>

            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-4">
          <mat-card class="card-background" [routerLink]="['/integra-ultimate']">
            <mat-card-header class="mb-2">
              <mat-card-title>Agricom International</mat-card-title>
            </mat-card-header>
            <img
              class="example-card"
              mat-card-image
              src="assets/images/agricom.png"
              alt=""
            />
            <mat-card-content>

            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-4">
          <!-- <mat-card class="card-background" [routerLink]="['/ip-jet-hp']">
            <mat-card-header class="mb-2">
              <mat-card-title>IP-JET HP</mat-card-title>
            </mat-card-header>
            <img
              class="example-card"
              mat-card-image
              src="assets/images/ip-jet-hp.png"
              alt=""
            />
            <mat-card-content>
              With protection class IP65 for dusty and wet production
              environments.
            </mat-card-content>
          </mat-card> -->
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<app-footer></app-footer>
