<app-navbar></app-navbar>
<div class="labeling-banner slider-image slider-height centered">
  <h2>Labeling Systems</h2>
  <h4>Labeling machines to print and apply your labels</h4>
</div>
<div class="background">
  <div class="row w-100 pt-5 pb-5">
    <div class="col-2"></div>
    <div class="col-8">
      <p>
        Our labeling systems will automatically label your products and
        packagings of all kinds. Weber Marking Systems manufactures efficient
        labelers to meet the most stringent demands of logistics and industry.
        We also develop customised solutions for specific print-apply
        applications. Please contact us for personal consultation!
      </p>
      <h4>
        Pacode Systems labeling machines for industry and logistics
        applications:
      </h4>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-4">
          <mat-card class="card-background">
            <mat-card-header class="mb-2">
              <mat-card-title>Label applicators</mat-card-title>
            </mat-card-header>
            <img
              class="example-card"
              mat-card-image
              src="assets/images/label-applicators.jpg"
              alt=""
            />
            <mat-card-content>
              Applicators that apply special or pre-printed labels.
            </mat-card-content>
          </mat-card>

          <mat-card class="card-background mt-3">
            <mat-card-header class="mb-2">
              <mat-card-title>Print-apply systems</mat-card-title>
            </mat-card-header>
            <img
              class="example-card"
              mat-card-image
              src="assets/images/Print-apply-systems.jpg"
              alt=""
            />
            <mat-card-content>
              Labelers with integrated label printer modules
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-4">
          <mat-card class="card-background">
            <mat-card-header class="mb-2">
              <mat-card-title>Pallet labeling</mat-card-title>
            </mat-card-header>
            <img
              class="example-card"
              mat-card-image
              src="assets/images/Pallet-labeling.jpg"
              alt=""
            />
            <mat-card-content>
              Labelling pallets, on the move or stationary.
            </mat-card-content>
          </mat-card>
          <mat-card class="card-background mt-3">
            <mat-card-header class="mb-2">
              <mat-card-title>RFID labeling</mat-card-title>
            </mat-card-header>
            <img
              class="example-card"
              mat-card-image
              src="assets/images/RFID-labeling.jpg"
              alt=""
            />
            <mat-card-content>
              Coding, printing and dispensing of RFID labels.
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-4">
          <mat-card class="card-background">
            <mat-card-header class="mb-2">
              <mat-card-title>Tamper evident labeler</mat-card-title>
            </mat-card-header>
            <img
              class="example-card"
              mat-card-image
              src="assets/images/Tamper-evident-labeler.jpg"
              alt=""
            />
            <mat-card-content>
              Seal applicator: seals folding boxes and cartons.
            </mat-card-content>
          </mat-card>
          <mat-card class="card-background mt-3">
            <mat-card-header class="mb-2">
              <mat-card-title>Automatic labeling</mat-card-title>
            </mat-card-header>
            <img
              class="example-card"
              mat-card-image
              src="assets/images/Automatic-labeling-machines.jpg"
              alt=""
            />
            <mat-card-content>
              Fully automatic labeling machines with modular units.
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="text-center mt-5">
        <h4>
          Made in Germany: Labeling machine manufacturer Weber Marking Systems
        </h4>
      </div>

      <div class="card mt-5">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/images/labeling1.png" class="card-img" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">
                Our labeling technology is made in Germany: We develop, build
                and produce all the labeling systems in our own competency
                centre in Rheinbreitbach (Rhineland-Palatinate). We work
                together closely with our customers and partners to meet highest
                market demands as they develop. The experience we gained over
                many years allows us to handle all product sizes, shapes and
                surfaces at all production rates.
              </p>
              <p class="card-text">
                This is based mainly on our modular designs comprising
                dispensing and printing modules, label winders and unwinders and
                a large number of special applicators. The systems produce
                labels that are compliant with EU directives. They offer high
                print quality, good legibility and speeds up to 600 labels per
                minute. Our machines will label sensitive materials without
                making contact, yet accurately positioned.
              </p>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/images/labeling2.png" class="card-img" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <!-- <h5 class="card-title">Card title</h5> -->
              <p class="card-text">
                Rough production conditions such as cold, heat, moisture and
                dust are typically found in industry. Our systems are
                particularly robust and can also be designed with suitable
                protective enclosures.
              </p>
              <p class="card-text">
                We will also offer special machine designs to meet highly
                specific demands. The modular design of our Geset labeling
                machines allows us to react flexibly to individual requests
                whilst also using standard modules. You therefore stand to
                benefit from maximum economy based on short planning and
                delivery times. In addition to this, we provide labeling systems
                such as the Tamper Evident machine to help you comply with
                safety requirements and prevent counterfeiting.
              </p>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<app-footer></app-footer>

